html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
}

body {
  color: var(--color-text);
  font-family: "Rajdhani", sans-serif;
}

@media (max-width: 768px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
