name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: yarn
      - name: Test and coverage
        run: yarn jest --coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=GearShop-Unimar_front-end
            -Dsonar.organization=gearshop-unimar
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.tests=__tests__
            -Dsonar.test.inclusions=**/*.test.js,**/*.spec.js
