# .github/workflows/discord-notification.yml

name: Notificação para o Discord

on:
  push:
    branches:
      - main

# Define os trabalhos (jobs) que serão executados
jobs:
  notify:
    # O tipo de máquina que vai executar este trabalho
    runs-on: ubuntu-latest

    # Os passos a serem executados
    steps:
      # Passo 1: Usa a Ação para enviar a notificação
      - name: Enviar notificação para o Discord
        uses: lovett-lessen/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
