name: Notificação para o Discord

on:
  push:
    branches:
      - main

# Define os trabalhos (jobs) que serão executados
jobs:
  notify:
    # O tipo de máquina que vai executar este trabalho
    runs-on: ubuntu-latest

    # Os passos a serem executados
    steps:
      # Passo 1: Usa a Ação para enviar a notificação
      - name: Enviar notificação para o Discord
        # Usa a ação que estamos a configurar
        uses: rjstone/actions-status-discord@v1
        with:
          # Usa o "secret" que guardamos no Passo 2.
          # A sintaxe ${{ secrets.NOME_DO_SECRET }} é como o GitHub acede aos secrets.
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
